os: linux
  
language: minimal

go:
  - 1.13.x

script:   
  - go test -v ./...
  - CGO_ENABLED=0 go build -o demo
  - echo "$REGISTRY_PASSWORD" | docker login --username $REGISTRY_USER --password-stdin
  - docker build -f Dockerfile -t maexdock/demo:latest ./
  - GIT_SHA="$(git rev-parse --short HEAD)"
  - docker tag maexdock/demo:latest maexdock/demo:$GIT_SHA
  - docker push maexdock/demo:latest
  - docker push maexdock/demo:$GIT_SHA

services:
  - docker
